<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.osman.grandresturant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login" />
        <activity android:name=".Sign" />
        <activity android:name=".VistorType" />
        <activity android:name=".Activity_upload" />
        <activity android:name=".ItemScreen" />
        <activity android:name=".ItemsRecycler" />
        <activity
            android:name=".HomeScreen"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SallersRecycler"
            android:label="التجار" />
        <activity android:name=".MyBasket" />
        <activity android:name=".UserProfile" />
        <activity android:name=".MyAds" />
        <activity android:name=".ItemUpdate" />
        <activity android:name=".Edit_Ads" />
        <activity android:name=".Dialogs.LocationDialog" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>