<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.osman.grandresturant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconapp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Registration.Login" />
        <activity android:name=".Sign" />
        <activity android:name=".VistorType" />
        <activity android:name=".Activity_upload" />
        <activity android:name=".ItemScreen"
            android:label=""/>
        <activity android:name=".ItemsRecycler" />
        <activity
            android:name=".splash"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeScreen"></activity>
        <activity
            android:name=".SallersRecycler"
            android:label="التجار" />
        <activity android:name=".NavigationActivities.MyBasket" />
        <activity android:name=".Registration.UserProfile"
            android:label=""/>
        <activity android:name=".NavigationActivities.MyAds" />
        <activity android:name=".ItemUpdate" />
        <activity android:name=".Edit_Ads" />
        <activity android:name=".Dialogs.LocationDialog" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Favorite_item" />
        <activity android:name=".NavigationActivities.FeedBack" />
        <activity android:name=".NavigationActivities.NavigationSallerRecycler" />
        <activity android:name=".NavigationActivities.NavigationCategoriesRecycler" />
        <activity android:name=".NavigationActivities.NavItemRecycler" />
        <activity android:name=".Dialogs.Registration_Dialog" />
        <activity android:name=".NavigationActivities.RequstsRecycler" />
        <activity android:name=".Dialogs.MyBasket_delete_dialog"></activity>
    </application>

</manifest>